ul, h2{
    padding: 0px;
    margin: 0px;
}

.section{
    width: 300px;
    height: 150px;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.title{
    margin-top: 10px;
    text-align: center;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}
.listItem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    font-weight: 500;
}
.listItem:last-child{
    margin-right: 0px;
}
.label{

}
.percentage{

}